/* @import "~@progress/kendo-theme-bootstrap/dist/all.scss"; */


/* @import "~bootstrap/scss/bootstrap.scss"; */

.title {
    font-size: 2rem;
    text-align: center !important;
    margin-top: 10%;
    color: #4aa1f3;
    font-weight: bold;
}

.content {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@import 'styles/_header.scss';
@import 'styles/_layout.scss';
@import 'styles/_panels.scss';